<div class="body-block">
    <app-nav-bar></app-nav-bar>

    <div class="main">
        <app-menu></app-menu>

        <div class="content">
            <app-goods-item 
                *ngFor="let it of items"
                [item] = "it"
            ></app-goods-item>
            <!-- <div class="item">
                <a href="article">
                    <img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">
                    item0
                </a>
            </div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item1</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item2</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item3</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item4</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item5</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item6</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item7</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item8</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item9</a></div> -->
        </div>
    </div>
    <footer class="footer">footer</footer>

</div>
