<div class="body-block">
    <app-nav-bar></app-nav-bar>

    <div class="main">
        <div class="wrapper">
            <ul class="wrapper__menu-ul">
                <li><a href="#1">Personal info</a>
                    <li>Name: <input type="text" placeholder="Name"></li>
                    <li>email: <input type="email" placeholder="Email"></li>
                    <li>phone: <input type="number" placeholder="Phone number"></li>
                    <li>Уси: </li>
                    <li>Лапи: </li>
                    <li>Хвост: 
                </li>
                <li>
                    <a href="#2">Orders</a>
                    <li>None
                </li>
                <li>
                    <a href="#3">Docs</a>
                </li>
            </ul>
            <div class="buttons-block">
                <button class="btn-submin">Submit</button>
                <button class="btn-delete">Delete myself</button>
            </div>
        </div>
    </div>
    <footer class="footer">footer</footer>

</div>